<!DOCTYPE html>
<html>

<head>
    <title>Insert Application</title>
</head>

<body>
    <h1>Apply for a Job</h1>

    <form action="/addApp" method="POST">
        <label for="job_id"></label>
        <input type="number" name="job_id" id="job_id" required>
        <button type="submit" name="job_id">Apply</button>
    </form>
</body>

</html>