<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../public/css/profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <script>
    $(document).ready(function () {
      $("#profile").click(function () {
        $(".detailsOverview").addClass("none");
        $(".detailsOverview").removeClass("block");
        $(".accountOverview").addClass("none");
        $(".accountOverview").removeClass("block");
        $(".profileOverview").addClass("block");
        $(".profileOverview").removeClass("none");
      });
      $("#details").click(function () {
        $(".profileOverview").addClass("none");
        $(".profileOverview").removeClass("block");
        $(".accountOverview").addClass("none");
        $(".accountOverview").removeClass("block");
        $(".detailsOverview").addClass("block");
        $(".detailsOverview").removeClass("none");
      });
      $("#account").click(function () {
        $(".profileOverview").addClass("none");
        $(".profileOverview").removeClass("block");
        $(".detailsOverview").addClass("none");
        $(".detailsOverview").removeClass("block");
        $(".accountOverview").addClass("block");
        $(".accountOverview").removeClass("none");
      });
    });
  </script>
  <style>
    .block {
      display: block;
    }

    .none {
      display: none;
    }
  </style>

  <body>
    <aside id="sidebar" class="nano">
      <div class="nano-content">
        <div class="logo-container">Setting</div>
        <menu class="menu-segment">
          <ul>
            <li>
              <a href="#" id="profile">Profile</a>
            </li>
            <li><a href="#" id="details">Details</a></li>
            <li><a href="#" id="account">Account</a></li>
            <div class="separator"></div>
            <li><a href="#">Logout</a></li>
            <div class="separator" style="margin-top: 236px"></div>
            <li><a href="#" style="margin-top: -20px">Back</a></li>
          </ul>
        </menu>
        <div class="bottom-padding"></div>
      </div>
    </aside>
    <main id="main">
      <div class="overlay"></div>
      <div class="overview profileOverview">
        <header class="header">
          <h1 style="margin-top: 1px" class="page-title">Profile</h1>
        </header>
        <label>Name</label>
        <input name="name" type="text" value="" />
        <label>Contact number</label>
        <input name="Contact" type="text" value="" />
        <label>Address</label>
        <input name="address" type="text" value="" />
        <label>Gender</label>
        <input name="gender" type="text" value="" />
        <button class="apply-button" type="submit">Apply Change</button>
      </div>
      <div class="overview detailsOverview none">
        <header class="header">
          <h1 class="page-title">Details</h1>
        </header>
        <label>Experience</label>
        <input name="experience" type="text" value="" />
        <label>Education</label>
        <input name="education" type="text" value="" />
        <label>Exp</label>
        <input name="exp" type="text" value="" />
        <button class="apply-button" type="submit">Apply Change</button>
      </div>
      <div class="overview accountOverview none">
        <header class="header">
          <h1 class="page-title">Account</h1>
        </header>
        <label>Username</label>
        <input name="username" type="text" value="" />
        <label>Email</label>
        <input name="email" type="text" value="" />
        <label>Password</label>
        <input name="password" type="password" value="" />
        <button class="apply-button" type="submit">Apply Change</button>
      </div>
    </main>
  </body>
</html>
