<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
    <title>Registrasi</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <!--Stylesheet-->
    <style media="screen">
      *,
      *:before,
      *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form>
      <h1>Register as Jobseekers</h1>

      <label for="Experience">Nama Lengkap</label>
      <input type="text" placeholder="Nama Lengkap" id="Experience" name="nama"/>

      <label for="Experience">Contact Number</label>
      <input type="text" placeholder="Contact Number" id="Experience" name="contact"/>
      
      <label for="Experience">Address</label>
      <input type="text" placeholder="Address" id="Experience" name="address"/>

      <label
        style="margin: -300px 100px 14px 500px"
        type="text"
        placeholder="Gender"
        id="username"
        for="gender"
        >Experience</label
      >
      <input
        style="margin: -10px 0px 10px 500px"
        type="text"
        name="exp"
        placeholder="Experience"
        id="username"
      />

      <label
        style="margin: 30px 100px 110px 500px"
        type="text"
        placeholder="Gender"
        id="username"
        for="gender"
        >Gender</label
      >
      <input
        style="margin: -100px 0px 300px 500px"
        type="text"
        name="gender"
        placeholder="Gender"
        id="username"
      />

      <label style="margin: -272px 100px 295px 500px" for="education">Education</label>
      <input
        style="margin: -287px 0px 10px 500px"
        type="text"
        name="education"
        placeholder="Education"
        id="username"
      />

      <button type="submit">Submit</button>
      <div class="social"></div>
    </form>
  </body>
</html>
