<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
    <title>Registrasi</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/regis2.css" />
    <!--Stylesheet-->
    <style media="screen">
      *,
      *:before,
      *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      .form-group {
        display: flex;
        align-items: center;
      }

      .form-group label {
        flex: 1;
      }

      .form-group input {
        flex: 2;
      }

      button {
        background-color: #4caf4f00;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #f5f5f5cf;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="video-background">
      <video autoplay muted loop>
        <source
          src="../views/Falling Stars Motion Background, Night Sky Loop Background Video - Free Stock Footage.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <!-- Konten lainnya di sini -->
    <div class="parallax"></div>

    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form>
      <h1 style="padding-bottom: 10px">Register as Employee</h1>

      <div class="form-group">
        <label for="email">Company Name</label>
        <input type="text" placeholder="Company Name" id="email" name="company"/>
      </div>

      <div class="form-group">
        <label for="contact">Address</label>
        <input type="text" placeholder="Adress" id="password" name="adress"/>
      </div>
      
      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" placeholder="Contact" id="password" name="contact"/>
      </div>
      
      <div class="form-group">
        <label for="contact">Company Description</label>
        <input type="text" placeholder="Company Description" id="contact" name="companyDesc"/>
      </div>

      <!-- <div class="form-group">
        <label for="company">Company Name</label>
        <input type="text" placeholder="Company Name" id="company" />
      </div>

      <div class="form-group">
        <label for="description">Company Description</label>
        <input type="text" placeholder="Company Description" id="description" />
      </div> -->

      <button type="submit">Submit</button>
      <div class="social"></div>
    </form>
  </body>
</html>
