*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}
body{
height: 100%;
background: #303030;
color: #fff;
overflow: auto;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.search-form button {
  background-color: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* Styling ikon search */
.search-form button i {
  font-size: 16px;
  color: #ffffff;
}

/* Animasi saat hover pada tombol search */
.search-form button:hover {
  opacity: 0.8;
}


header {
background-color: transparent;
padding: 10px 20px 10px 100px;
position: fixed;
width: 100%;
display: flex;
justify-content: space-between;
z-index: 3;
}
header .logo{
position: relative;
font-weight: 700;
color: #fff;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
text-decoration: none;
border: 0;
}
header ul{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
header ul li{
position: relative;
list-style: none;
}
header ul li a{
position: relative;
margin: 0 15px;
text-decoration: none;
color: #fff;
transition: 0.5s;
}
header.sticky{
padding: 10px 20px 10px 100px;
background: #212121;
}
header.sticky ul li a{
color: #fff;
}
header.sticky .logo{
color: #fff;
}
.banner{
width: 100%;
height: 100vh;
background:  url("../img/home1.png");
padding-top: 120px;
}

.welcome-container{
position: static;
text-align: left;

}
.welcome-container h2{
font-size: 60px;
text-align: left;
margin-top: 10px;
margin-left: 40px;
font-family: 'Calibri';
position: absolute;
bottom: 90px;
left: 16px;

}
.welcome-container p{
text-align: left;
margin-bottom: 20px;
margin-top: 10px;
margin-right: auto;
margin-left: 40px;
font-size: 40px;
font-weight: 100;
color: #fff;
font-family: 'Arial';
position: absolute;
bottom: 20px;
left: 16px;
}

.jobs h2{
  margin: 20px auto 10px 35px;
}

.card-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  background: #303030;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  margin:auto;
  padding: 20px;
  background-color: #424242;
  /* border-color: #fff ; */
  border-width: 2px;
  color: #fff;
  border-radius: 8px;
}

.card-image {
  width: 100% ;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  margin-top: 20px;
  text-align: center;
}

.job-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.salary {
  font-size: 13px;
  margin-bottom: 10px;
  color: green;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color:  #333;;
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}
.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.pref {
  font-size: 1.2rem;
  color: #fff;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.pref button {
  background-color: #000000;
  padding: 8px;
}

.apply-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 10px;
  text-align: left;
}

.popup-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Container needed to position the button. Adjust the width as needed */
.jobs2{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;

}

.jobs2 .container {
  position: relative;
  width: 100%;
  display: block;

}


/* Make the image responsive */
.jobs2 .container img {
  object-fit: cover;
  width: 100%;
  height: 60vh;
}

.container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -50%);
  -ms-transform: translate(-85%, -50%);
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .content h2{
  font-weight: bold;
}

.container .content p{
  font-size: 20px;
}
.container .content button{
  font-size: 20px;
  padding: 12px 26px;
  background-color: #007bff;
  color: white;
}

.btn a{
  color: white;
  text-decoration: none;
}

.container .btn:hover {
  background-color: black;
}

/*FOOTER*/
.footer {
  background-color: #212121;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 0 10px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
}
