.careerContainer {
  background-color: #fff;
  border: 1px solid #e7ebef;
  border-radius: 3px;
  overflow: hidden;
}

.careerItem {
  padding: 40px 38px 30px;
  box-shadow: 0 5px 83px rgba(40,40,40,.08);
  border-bottom: 1px solid #e7ebef;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.careerMeta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.careerType {
  font-size: 13px;
  text-transform: capitalize;
  background-color: #222;
  color: #fff;
  padding: 3px 10px;
  margin-right: 20px;
}

career__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
  font-family: 'Rajdhani', sans-serif;

}

.career__desc {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
font-weight:400px;
color:#51668a;
font-family:Heebo,sans-serif;
}

.btn{
  text-transform: capitalize;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  width: 170px;
  height: 60px;
  line-height: 58px;
  border-radius: 3px;
  text-align: center;
  padding: 0;
  letter-spacing: .2px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn__bordered.btn__primary {
  color: #222;
  border-color: #222;
}

.btn__bordered {
  background-color: transparent;
}

.btn__primary {
  color: #fff;
  border: 2px solid #222;
}

.btn__bordered.btn__primary:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.career__location {
  font-size: 13px;
  color:  #ff5e14;
font-weight:900;
 font-family: 'Rubik', sans-serif;

}